*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build

/captures
.externalNativeBuild
.cxx
local.properties

/.idea

/buildSrc/build
/filesystem/build/
/pluginsystem/build/
/filesystem-unix/build/
/pluginsystem-common/build/
/signing
/app/src/main/baseline-prof.txt